
.calcolatrice{
    width: 260px;
    height: auto;
    background-color: black;
    margin-top: 10%;
    border-radius: 24px;
    padding-top: 3px;

}
.display{
    background-color: black;
    color: white;
    height: 80px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    
}
.Bottone{
    width: 22%;
    height: 55px;
    color: white;
    margin: 3px;
    border: 0px;
}
.carattere{
background-color: rgba(211, 123, 9, 0.801);
}
.numero{
background-color: rgb(94, 101, 107);
}
.zero{
    width: 47%;
    margin-bottom: 10px ;
}
body{
    background-color: #c07d20;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23be6c26' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23bd5c2b' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23bb4b31' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23ba3b36' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23b82a3c' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}